<!-- <h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>
-->

<div class = "header">
    <h1>Home</h1>
    <h2>Popular Recipes</h2>
</div>

<div class = "recipies">
    <%= image_tag('recipe1.jpg') %>
    <%= image_tag('recipe2.jpg') %>
    <%= image_tag('recipe3.jpg') %>
</div>

<div class = "buttons">
    <button type="button" id="current_recipies">Current Recipies</button>
    <%= link_to 'Fridge Contents', fridge_contents_path, class: 'btn', id: 'fridge_contents' %>
</div>

