body {
    background-color: #EAEEF8;
}
.header {
    text-align: center;
}
h1 {
    color: black;
    font-family: Monospace; 
    font-size: 50px;
    margin: 15px;
  }

h2 {
    color: black;
    font-family: Monospace; 
    font-size: 30px;
    margin: 10px;
  }
  img {
    width: 360px;
    height: auto;
    border: 2px solid black;
    border-radius: 15px;
    margin: 10px;
  }
  #current_recipies {
    background-color: #D9D9D9;
    color: black;
    border: 2px solid black;
    text-align: center; /* Center the text inside the button */
    /*display: inline-block;  Allows setting dimensions */
    font-size: 27px;
    margin: 10px; /* Margins around the button */
    cursor: pointer; /* Cursor appears as a pointer */
    border-radius: 8px; /* Rounded corners */
    font-family: Monospace; 
}
#fridge_contents {
    background-color: #D9D9D9;
    color: black;
    border: 2px solid black;
    text-align: center; /* Center the text inside the button */
    /*display: inline-block;  Allows setting dimensions */
    font-size: 27px;
    margin: 10px; /* Margins around the button */
    cursor: pointer; /* Cursor appears as a pointer */
    border-radius: 8px; /* Rounded corners */
    font-family: Monospace; 
}
.buttons {
    text-align: center;
}
  